<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"></html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <title>角色管理</title>
    <!--引入css文件-->
    <th:block th:replace="backstage/common_resources::common_css"></th:block>
    <!--引入js文件-->
    <th:block th:replace="backstage/common_resources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">
<header th:replace="backstage/common_header::header"></header>
<aside th:replace="backstage/common_aside::aside"></aside>
<div class="wrapper">
    <!--    <div class="content-wrapper">-->
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>角色管理
                <small>权限列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="@{/backstage/index}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="@{/backstage/role/all}">角色管理</a></li>
                <li class="active">权限列表</li>
            </ol>
        </section>
        <!-- 内容头部 /-->
        <!-- 正文区域 -->
        <section class="content">
            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">列表</h3>
                </div>
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">
                        <form th:action="@{/backstage/role/update}" method="post">
                            <input type="hidden" th:value="${rid}" name="rid">
                            <!--数据列表-->
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="" style="padding-right:0px;">
                                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                    </th>
                                    <th>权限名称</th>
                                    <th>权限描述</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="permission:${permissionWithStatuses}">
                                    <td th:if="${permission.roleHas}">
                                        <input name="pids" type="checkbox" th:value="${permission.pid}"
                                               class="icheckbox_square-blue" checked>
                                    </td>
                                    <td th:if="${!permission.roleHas}">
                                        <input name="pids" type="checkbox" th:value="${permission.pid}"
                                               class="icheckbox_square-blue">
                                    </td>
                                    <td th:text="${permission.permissionName}"></td>
                                    <td th:text="${permission.permissionDesc}"></td>
                                </tr>
                                </tbody>

                            </table>
                            <div class="box-title text-center">
                                <button type="submit" class="btn bg-maroon" >保存</button>
                                <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                            </div>
                        </form>
                        <!--数据列表/-->
                    </div>
                    <!-- 数据表格 /-->

                </div>


            </div>


        </section>
        <!-- 正文区域 /-->

    </div>

    <!--    </div>-->

</div>

<footer th:replace="backstage/common_footer::footer"></footer>

</body>

</html>